<div class="card">
  <div class="card-body">
    <h1>{{post.title}}</h1>
    <small>Data de publicação: {{post.date}}</small>
    <hr />
    <div class="mb-3">
      {{post.content}}
    </div>
    <small>Categoria: {{post.category.name}}</small>

  </div>
</div>